@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
    background-color: rgb(201, 201, 201);
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    
}
h1{
    color: white;
    text-align: center;
    font-size:50px;
    font-weight: bolder;
    padding: 100px;
}
img{
    position: relative;
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    border-radius: 6px;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    
}

/*header*/
header{
    background-color: rgb(235, 192, 0);
    box-shadow: 5px 0px 5px 3px #000000;
    width: 100%;
    height: 220px;
    background-image:url("img/Pander\ Food.png");
    

    
}
.logo{
    width:120px ;
    height: 120px;
    float: left;
}
.titulo{
    padding: 20px 30px;
    color: rgb(129, 34, 34);
    font-size: 50px;
    text-align: center;
    border-radius: 100px;
    margin: 0px;
    text-shadow: 0 5px 2px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.4);
    
}

 /*Menu*/
 #menu{
    background-color:rgb(235, 192, 0);
    margin-top: 100px;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    justify-content: space-around;
}

#menu li{
    display: inline;
    margin: 0;
}

#menu li a{
    font-size: 20px;
    color: rgb(129, 34, 34);
    padding: 20px 30px;
    text-decoration: none;
}

#menu li a:hover{
    background-color:rgb(129, 34, 34);
    color: rgb(235, 192, 0);
    border-radius: 50px;
}

/*Contenido del body o main*/


.subtitulo h1{
    color: rgb(235, 192, 0);
    text-shadow: 0 5px 2px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.4);
}

.imagenes {
    width: 80px;
    height: 80px;
    display: flex;
    flex-grow: wrap;
    justify-content: left;
    
    padding: 25px;
}

.contenedor1{
    
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.contenedor2{
   display: flex;
   justify-content: space-around;
   padding-bottom: 100px;
   
    
}
.contenedor3{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 50px;
    
}


.contenedor1 figure{
    position:relative;
     height: 250px;
     cursor: pointer;
     width: 350px;
     overflow: hidden;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
 }
 .contenedor1 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .contenedor1 figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(255, 196, 4, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .contenedor1 figure:hover > .capa {
     opacity: 1;
     visibility: visible;
 }
 .contenedor1 figure:hover > .capa h3{
     margin-top: 70px;
     margin-bottom: 15px;
 }
 .contenedor1 figure:hover > img{
     transform: scale(1.3);
 }
 .contenedor1 figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
 }
 h4{
     color: black;
 }
 .contenedor1 figure .capa p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     margin: auto;
 }

 .contenedor2 figure{
    position:relative;
     height: 250px;
     cursor: pointer;
     width: 350px;
     overflow: hidden;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
 }
 .contenedor2 figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .contenedor2 figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(255, 196, 4, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .contenedor2 figure:hover > .capa {
     opacity: 1;
     visibility: visible;
 }
 .contenedor2 figure:hover > .capa h3{
     margin-top: 70px;
     margin-bottom: 15px;
 }
 .contenedor2 figure:hover > img{
     transform: scale(1.3);
 }
 .contenedor2 figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
 }
 .contenedor2 figure .capa p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     margin: auto;
 }
 .contenedor3 figure{
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
 }

 
.contenedor3 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor3 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor3 figure:hover > img{
    transform: scale(1.3);
}
.contenedor3 figure  .capa h3{
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor3 figure .capa p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor3 figure  .capa{
   
    background: rgba(255, 196, 4, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
       
       

        
            /*Footer*/

        .container{
            max-width: 1170px;
            margin:auto;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
       
        
        .footer{
            background-color: rgb(235, 192, 0);
            padding: 70px 0;
            box-shadow: 5px 0px 5px 3px #000000;
        }
        
        .footer-col{
           width: 40%;
           
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           
           
        }
        .footer-col p{
            color: rgb(129, 34, 34);
        }
        .footer-col h4{
            font-size: 18px;
            color: rgb(129, 34, 34);
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }
        .footer-col h4::before{
            content: '';
            position: absolute;
            left:0;
            bottom: -10px;
            background-color: rgb(129, 34, 34);
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }
        
        
       
        .footer-col .social-links a{
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgb(129, 34, 34);;
            margin:0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: rgb(235, 192, 0);
            transition: all 0.5s ease;
        }
        .footer-col .social-links a:hover{
            color: #24262b;
            background-color: #ffffff;
        }

        
        


        /*responsive*/
        @media(max-width: 767px){
          .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
        }
        @media(max-width: 574px){
          .footer-col{
            width: 100%;
        }
        }

        @media screen and (max-width:950px){
            img{
                max-width: 200px;
                min-width: 200px;
            }
            h1{
                font-size: 20px;
            }

            .contenedor1 figure{
                max-width: 200px;
                min-width: 200px;
            }
            .contenedor2 figure{
                max-width: 200px;
                min-width: 200px;
            }
            .contenedor3 figure{
                max-width: 200px;
                min-width: 200px;
            }
            

        }

        @media screen and (max-width:550px){
            img{
                max-width: 100px;
                min-width: 100px;
            }
            
            h1{
                font-size: 15px;
            }
            .contenedor1 figure{
                max-width: 100px;
                min-width: 100px;
            }
            .contenedor2 figure{
                max-width: 100px;
                min-width: 100px;
            }
            .contenedor3 figure{
                max-width: 100px;
                min-width: 100px;
            }
        }
        @media screen and (max-width:350px){
            img{
                max-width: 50px;
                min-width: 50px;
            }
            
            h1{
                font-size: 15px;
            }
            .contenedor1 figure{
                max-width: 50px;
                min-width: 50px;
            }
            .contenedor2 figure{
                max-width: 50px;
                min-width: 50px;
            }
            .contenedor3 figure{
                max-width: 50px;
                min-width: 50px;
            }
        }

        @media screen and (max-width: 747px){
            .menu ul{
                padding: 0;
            }
            .titulo{
                font-size: 50px;
            }
            .menu ul li{
                margin-right: -3px;
                display: inline-block;
                text-align: center;
                width: 33%;
            }

            .menu li a{
                display: list-item;
            }
        }

        @media screen and (max-width: 480px){
            .menu ul li{
                width: 100%;
            }
        }


        